<app-header [titulo]="'alert'"></app-header>

<ion-content>


  <ion-button (click)="presentAlert()"
              expand="block">
    <ion-icon slot="start"
              name="add"></ion-icon>
    Abrir alert
  </ion-button>
  <ion-button (click)="presentAlertMultipleBtns()"
              expand="block">
    <ion-icon slot="start"
              name="add"></ion-icon>
    Abrir alert multiple btns
  </ion-button>
  <ion-button (click)="presentAlertPrompt()"
              expand="block">
    <ion-icon slot="start"
              name="add"></ion-icon>
    Abrir alert prompt
  </ion-button>
</ion-content>