<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img [src]="'/assets/fotoDante.webp'" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="success"
            mode="ios"
            outline="true">
    <ion-avatar>
      <img [src]="'/assets/fotoDante.webp'" />
    </ion-avatar>
    <ion-label>Ing. Arrighi Dante</ion-label>
  </ion-chip>


  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="'/assets/fotoDante.webp'" />
      </ion-avatar>
      <ion-label>Eng. Dante Arrighi</ion-label>
    </ion-item>
  </ion-list>
</ion-content>